.accentuate {
    color: #a88d50;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}
.grid-container {
    display: grid;
}

.css-snippet {
    width: 100%
}

.profile-container {
    width: 40%;
}   
.profile-container img {
    border: solid 1px transparent;
    border-radius: 50%;
}

.info-slide {
    text-align: left;
}
.info-slide p{
    font-size: 28px;
    line-height: 1.5rem;
}
.info-slide img{
    width:400px;
    height:400px;
    border-radius: 50%;
    border-style: none;
}