.accentuate {
    color: #a88d50;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}
.grid-container {
    display: grid;
}

.css-snippet {
    width: 100%
}

.profile-container {
    width: 40%;
}   
.profile-container img {
    border: solid 1px transparent;
    border-radius: 50%;
}

.info-container {
    width: 30%;
} 
.info-container-2 {
    width: 60%;
}
.info-slide {
    text-align: left;
}
.info-slide p{
    font-size: 28px;
    line-height: 1.4rem;
}
.info-slide img{
    width:240px;
    height:240px;
    border-radius: 50%;
    border-style: none;
}
div.info-text {
    padding-top: 40px;
}