.accentuate {
    color: #a88d50;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.profile-container {
    width: 40%;
}   
.profile-container img {
    border: solid 1px white;
    border-radius: 50%;
}